:root {
  background: #ececec;
  color: #9c9c9c;
  font: 1rem "PT Sans", sans-serif;
}

html,
body,
.container {
  /* height: 100%; */
  width: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__item{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: #000000;
  color: inherit;
  font: inherit;
  border: 1;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn--primary {
  background: #7f8ff4;
  color: #000000;
  border-radius: 2px;
  padding: 12px 36px;
}

.btn--primary:hover {
  background: #6c7ff2;
}

.form__field {
  display: inline;
  width: 600px;
  background: #ffffff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 10px 18px;
}

.image-preview {
  width: auto;
  display:flex;
  margin-top: 15px;
}