header {
    display: block;
    font: 1rem "PT Sans", sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.app-header {
    flex: 0 0 auto;
    height: 66px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 600;
}

.app-header-contents {
    background-color: #fafafc;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.app-header-left,
.app-header-right {
    align-items: center;
    display: flex;
    gap: 20px;
}

.app-header-left,
.app-header-right {
    align-items: center;
    display: flex;
    gap: 12px;
}

a{
    text-decoration: none;
}
.app-header-item-desktop{
    font-weight: 800;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    transition: color .2s ease;
}
.app-header-item-desktop:hover {
    color: #535353;
}

.app-header-logo {
    display: flex;
}

.link-style{
    font-weight: 500;
    color: #505050;
    cursor: pointer;
    text-decoration: none;
    transition: color .2s ease;
}

.link-style:hover{
    color:#888888;
}