/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fafafa;
}

.container-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    /* grid-auto-flow: column; */
    /* grid-template-columns: auto auto; */
    /* grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr)); */
    gap: 10px;
    margin-top: 15px;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    /* display: inline-flex; */
    max-width: 700px;
    width: 100%;
    height: 100%;
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 20px;
    /* box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4); */
    overflow: hidden;
}

.gallery-item .gallery-image img{
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: cover;
    transition: transform 0.5s ease-out;
}

.gallery-item :hover {
    transform: scale(1.1);
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery,
    .gallery-item {
        margin: 0;
    }
}

.download-wrap {
    position: fixed;
    /* top: 100%; */
    bottom: 0%;
    right: 0%;
    margin: 30px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    background: #14171A;
    background-image: url(/download_2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 5px 10px #AAB8C2;
}

.circle:hover {
    background: #c0c0c0d0;
    background-image: url(/download_2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    color: #14171A;
    outline: none;
}

.circle-rev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    background-image: url(/pencil2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    color: #050505;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    box-shadow: 5px 5px 10px #AAB8C2;
}

.circle-rev:hover {
    background: #202020d0;
    background-image: url(/pencil1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    color: #f1f1f1;
    outline: none;
}