:root {
   font: 1rem "PT Sans", sans-serif;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.loader {
    align-items: center;
    justify-content: center;
    margin: 10px;
}

p {
    display: flex;
    flex-direction: row;
}

.facts-text {
    width: 100%;
    text-align: center;
    color: #969696;
    font-weight: 300;
    font-size: 12px;
}
/* p:before,
p:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #969696;
    margin: auto;
} */

.facts-text:before {
    margin-right: 10px
}

.facts-text:after {
    margin-left: 10px
}